name: CI

on:
  push:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

permissions:
  contents: read

jobs:
  reproducer:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - run: ./reproducer.sh
